* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif !important;
}

main {
  height: 85vh;
  overflow-y: scroll;
}

main::-webkit-scrollbar {
  width: 0;
}

.form-control {
  border-radius: 0% !important;
  transition: all 0.3s ease;
}

.form-control:focus {
  background-color: transparent !important;
  box-shadow: none !important;
  border-color: black !important;

}

.form-control:hover {
  border-color: black !important;
}

.quill {
  background-color: white;
}

.error {
  color: red;
  font-size: 14px;
  padding: 4px 8px;
}